h1 {
    font-family: 'Exo 2.0';
    font-size: 36px;
    margin-bottom: 14px;
    line-height: 1.7;
    margin-top: 0;
    padding-top: 50px;
}

.foodList { 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 40px;
}


@media (max-width:960px) {
  .foodList {
    justify-content: space-around;
  }  
}

@media (max-width:425px) {
  .foodList {
    justify-content: center;
  }  
  h1 {
    margin-bottom: 24px;
    line-height: 1;
  }
}
